.App {
    background-image: url('../assets/background.JPG');
    justify-content: center;
    background-repeat: repeat;
    min-width: 100vh;
    min-height: 100vh;
    background-size: 40%;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-template-rows: 150px;
}