

.welcome {
    position:absolute;
    text-align: center;
    top: 20%;
    left: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: x-large;
}

.icon {
    position:fixed;
    top: 68%;
    left: 51%;
    transform: translate(-50%, -50%);
    height: 15%;
}

.welcomecont {
    display: flexbox;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    Width: 100%;
    height: 30%;
    aspect-ratio: initial;
    background-image: url('../assets/smoke.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;

}